{
  "plugins": ["@babel/plugin-transform-runtime"],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "esmodules": true,
        "browsers": [
          "last 2 versions",
          "last 1 ie version"
        ]
      }
    }]
  ]
}
